extends ../template

block content
	form#post(action="/post", method="POST")
		h2 Chia sẻ kiến thức, bài viết tâm huyết của bản thân
		#info-post
			label Tiêu đề
				span.notnull (*)
			input(type="text", name="tieude", placeholder="#{ __('input-here') }")#username.form-control
			label Chuyên mục
				span.notnull (*)
			select(name="danhmuc").form-control
				for val in data
					option(value="#{ val.id}") #{ val.name}
			label Nội dung muốn truyền tải
				span.notnull (*)
			textarea(name="username", rows="5")#username.form-control
		textarea(name="content", rows="15")
		#info-more
			label Tác giả
			input(type="text", name="review", placeholder="#{ __('input-here') }").form-control
			label Nguồn bài viết
			input(type="text", name="review", placeholder="#{ __('input-here') }").form-control
			label Tag
			input(type="text", name="review", placeholder="#{ __('input-here') }").form-control
			span.help-block Tag phân cách nhau bởi dấu ; ví dụ : share; website
block footer
	script.
		CKEDITOR.replace('content', {
			customConfig: 'config-min.js'
		});