extends ../template

block content
    #content
        #icon-user
            img(src="uploads/#{ data.icon}")
        #info-user
            label= data.name
            label= data.fulname
            label= data.job
            label= data.email
            label= data.phone
        #info!= data.info
block footer
    