extends ../template

block content
	form#signup(action="/signup", method="POST", enctype="multipart/form-data")
		h2 #{ __("login-signup") }
		if data
			.alert.alert-danger.alert-dismissable(role="alert")
				button(type="button", data-dismiss="alert").close
					span(aria-hidden="true") &times;
					span.sr-only Close
				strong #{ __("error") }
				i= data
		label #{ __("signup-label-user") }
			span.notnull (*)
		input(type="text", name="username", placeholder="#{ __('input-here') }")#username.form-control
		label #{ __("login-label-pass") }
			span.notnull (*)
		input(type="password", name="password", placeholder="#{ __('input-here') }")#password.form-control
		label #{ __("signup-label-pass") }
		input(type="password", name="review", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-fullname") }
		input(type="text", name="fullname", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-icon") }
		input(type="file", name="icon").form-control
		label #{ __("signup-label-birthday") }
		input(type="date", name="birthday", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-email") }
		input(type="email", name="email", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-phone") }
		input(type="text", name="phone", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-job") }
		input(type="text", name="job", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-info") }
		textarea(name="info", placeholder="#{ __('input-here') }").form-control
		label #{ __("signup-label-cv") }
		input(type="file", name="cv").form-control
		button(type="submit").btn.btn-primary.btn-block #{ __("menu-signup") }
block footer
	script.
		CKEDITOR.replace('info', {
			customConfig: 'config-min.js'
		});